*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.area{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadro{
    width: 600px;
    height: 300px;
    background: rgba(245,245,245,5%);
    opacity: 0,5;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    transition: 0.7s;
}
.cuadro:hover{
    background: rgba(245,245,245,80%);
}
.cuadro > *{
    padding-top: 10px;
}
.muestra{
    width: 100%;
}
